@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');

#font{
  font-family: 'Indie Flower', cursive;
  border: 4px solid red;
  width: 50%;
  padding: 10px;
}
#first{
  font-family: 'Inknut Antiqua', cursive;
  border: 4px solid blue;
  text-align: center;
  margin: auto;
  width: 25%;
}

td{
  background-color: black;
  height: 300px;
  width: 100px;
  border: 6px solid white;
}
h1{
  text-align: center;
  font-family: 'Inknut Antiqua', cursive;

}
.color{
  margin: auto;
}
#one{
  background-color: #702632;
}
#two{
  background-color: #A77683;
}
#three{
  background-color: #912F40;
}
#four{
  background-color: #93BA93;
}
#five{
  background-color: #E6E8C8;


}
